/node_modules
/public/hot
/public/storage
/public/main
/public/asset-dashboard
/storage/*.key
/vendor
.env
.env.backup
.env.dev
.env.prod
.phpunit.result.cache
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.eslintrc.json
.editorconfig
